{{template "layout" .}}


{{define "title"}}
Forgot Password
{{end}}

{{define "body"}}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post" action="/login" id="forgot_password" class="d-block needs-validation charge-form"
            autocomplete="off" novalidate="">



            <h3 class="mt-2 mb-3 text-center text-primary">Forgot Password</h3>

            <hr />

            <div class="alert alert-danger text-center d-none" id="error-messages">

            </div>


            <div class="mb-3">
                <label for="email" class="form-label text-primary"> Email</label>
                <input type="email" id="email" class="form-control" autocomplete="email-new" name="email" required />
            </div>


            <a href="javascript:void(0)" id="login-button" class="btn btn-primary" onclick="submitLogin()"> Submit</a>


            <div id="processing-payment" class="text-center d-none">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">
                        loading ...
                    </span>
                </div>
            </div>

        </form>
    </div>
</div>
{{end}}


{{define "js"}}

<script>
  const cardMessages = document.getElementById("error-messages");
    const submitButton = document.getElementById("login-button")
    const processing = document.getElementById("processing-payment")

    function toggleSubmitButton(hide) {
        if (hide) {
            submitButton.classList.add("d-none")
            processing.classList.remove("d-none")
        } else {
            submitButton.classList.remove("d-none")
            processing.classList.add("d-none")
        }

    }

    function showCardError(error) {
        let alertDiv = document.getElementById("error-messages");
        alertDiv.innerText = error;
        alertDiv.classList.add("alert-danger");
        alertDiv.classList.remove("alert-success")
        alertDiv.classList.remove("d-none")

        toggleSubmitButton(false)
    }

    function showCardSuccess() {
        let alertDiv = document.getElementById("error-messages");
        alertDiv.innerText = "Password reset email sent";
        alertDiv.classList.remove("alert-danger");
        alertDiv.classList.add("alert-success")
        alertDiv.classList.remove("d-none")

        toggleSubmitButton(false)
    }


    function submitLogin() {
        const loginForm = document.getElementById("forgot_password")

        if (!loginForm.checkValidity()) {
            this.event.preventDefault()
            this.event.stopPropagation()
            loginForm.classList.add("was-validated")

            return;
        }

        loginForm.classList.add("was-validated")

        toggleSubmitButton(true)

        let payload = {
            email: document.getElementById("email").value,
        }

        let requestOptions = {
        method: "post",
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify(payload)
      }

      fetch('{{ .API }}/forgot-password', requestOptions)
      .then((response) => response.json())
      .then((response) => {

        if (response.error === false) {
            showCardSuccess()
            
        }else{
            showCardError(response.message)
        }
          console.log(response);
      })
    }
</script>


{{end}}