{{template "layout" .}}

{{define "title"}} Payment Successful {{end}}

{{define "body"}}
    <h2 class="mt-5">
        Payment Succeeded
    </h2>

    <hr />


       <p> Payment Intent: {{index .Data "paymentIntent"}} </p>
        <p> Payment method: {{index .Data "paymentMethod"}}</p>
         <p>Payment currency: {{index .Data "paymentCurrency"}}</p>
         <p>Payment payment amount: {{index .Data "paymentAmount"}}</p>
        <p> Name: {{index .Data "firstName"}} {{index .Data "lastName"}}</p>
         <p>Email: {{index .Data "email"}}</p>
         <p>Last Four: {{index .Data "lastFour"}}</p>
         <p>Bank Return Code: {{index .Data "bankReturnCode"}}</p>
         <p>Expiry Date: {{index .Data "expiryMonth"}} / {{index .Data "expiryYear"}}</p>
{{end}}